@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  font-family: 'Bangers', cursive;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-image: url("/src/onepiece.jpg");
  background-repeat: no-repeat; 
 /*  background-size: cover; */
  color: rgb(6, 41, 33);
}